---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<section id="hero" data-images="[&quot;./images/grey-radiator-fmheatingspecialist.co.uk.webp&quot;,&quot;./images/white-radiator-fmheatingspecialist.co.uk.webp&quot;]" class="hero-slideshow-wrapper hero-slideshow-normal loaded" style="position: relative; z-index: 0; background: none;" title="FM Heating Specialist – Gas Boiler Servicing, Installations and Repairs around the Caerphilly Area" aria-label="FM Heating Specialist – Gas Boiler Servicing, Installations and Repairs around the Caerphilly Area">

	<div class="container" style="&quot;padding-top:" 10%;="" padding-bottom:="" 10%;&quot;="">
	<div class="hero__content hero-content-style1">
	<h2 class="hero-large-text">
		<span class="js-rotating morphext">
			<span class="animated flipInX">Boiler Servicing | Boiler Installations | Boiler Repairs</span>
		</span>
	</h2>
	<div class="hero-small-text"><p>FM
	 Heating Specialist offers Gas Boiler services, installation and
	repairs. Also, Installing log fires, cookers, warm air units, range
	cookers in and around the Caerphilly Area. Power-flushing, system
	upgrades and landlord inspections, emergency repair work to central
	heating boilers, systems and pipework.</p>
	</div>
	<a href="https://fmheatingspecialist.co.uk/#services" class="btn btn-theme-primary btn-lg">Our Services</a> <a href="https://fmheatingspecialist.co.uk/#contact" class="btn btn-secondary-outline btn-lg">Contact</a> </div>
	</div>
	<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 715.95px; width: 1920px; z-index: -999998; position: absolute;">
		<img style="position: absolute; margin: 0px; padding: 0px; border: medium; width: 1920px; height: 1437.33px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -360.692px;" src="./images/white-radiator-fmheatingspecialist.co.uk.webp" alt="FM Heating Specialist – Gas Boiler Servicing, Installations and Repairs around the Caerphilly Area"/>
	</div>
</section>
</div>

<div id="content" class="site-content">
<main id="main" class="site-main" role="main">
<section id="features" class="section-features section-padding section-meta onepage-section">
<div class="container">
<div class="section-title-area">
<h2 class="section-title">Features</h2> </div>
<div class="section-content">
<div class="row">
<div class="feature-item col-lg-3 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="feature-media">
<span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-child fa-stack-1x"></i></span> </div>
<h4>Customer Service</h4>
<div class="feature-item-content"><blockquote>
<div dir="ltr">&nbsp;I take pride in my work and aim to provide exceptional customer service.</div>
</blockquote>
</div>
</div>
<div class="feature-item col-lg-3 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="feature-media">
<span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-home fa-stack-1x"></i></span> </div>
<h4>Your Property</h4>
<div class="feature-item-content"><p>Protecting the customers property is paramount.</p>
<div id="gtx-trans">
<div class="gtx-trans-icon"></div>
</div>
</div>
</div>
<div class="feature-item col-lg-3 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="feature-media">
<span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-users fa-stack-1x"></i></span> </div>
<h4>Exceptional Service</h4>
<div class="feature-item-content"><blockquote>
<div dir="ltr">You can expect the same exceptional service that you would from my previous employer and their engineers</div>
</blockquote>
</div>
</div>
<div class="feature-item col-lg-3 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="feature-media">
<a title="Gas Safe Register" href="https://www.gassaferegister.co.uk/BusinessCompetencies?ep=5T3yICJxSbfKANaXUW4ejW5ARLuLmGN7cFGMnjXFwaO4pDDmC5uw2IhwyDR4uxsmRg2f8TCJ4cFJ6AIcgH8wAraBMQ9gn2bE1E2fCdUw6sQhzKAyQZWpKhyyNpB62bW2bB51l&amp;cp=8dbTCMJeQPJDla2btm2cGo0z3okSrvgEal7O2bBBidEQXKu2KMzsFjsk2fM5W2LtsH6&amp;backurl=2fCheckBusinessResults3fcp3d8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6&amp;searchurl=2FCheckBusinessResults3Fcp3D8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6">
	<span class="icon-image"><img src="./images/gas-safe-registered-3663496180.webp" alt="gas safe register"></span>
</a>
</div>
<h4>
	<a title="Gas Safe Register" href="https://www.gassaferegister.co.uk/BusinessCompetencies?ep=5T3yICJxSbfKANaXUW4ejW5ARLuLmGN7cFGMnjXFwaO4pDDmC5uw2IhwyDR4uxsmRg2f8TCJ4cFJ6AIcgH8wAraBMQ9gn2bE1E2fCdUw6sQhzKAyQZWpKhyyNpB62bW2bB51l&amp;cp=8dbTCMJeQPJDla2btm2cGo0z3okSrvgEal7O2bBBidEQXKu2KMzsFjsk2fM5W2LtsH6&amp;backurl=2fCheckBusinessResults3fcp3d8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6&amp;searchurl=2FCheckBusinessResults3Fcp3D8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6">Gas Safe Register</a>
</h4>
<div class="feature-item-content"><p><br data-mce-bogus="1"></p>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="about" class="section-about section-padding onepage-section">
<div class="container">
<div class="section-title-area">
<h2 class="section-title">About Us</h2> <div class="section-desc"><p>I’m Ashley of FM Heating Specialist, Ex British Gas Technical Engineer, qualified in Natural Gas and LPG.</p>
<p>I’m a Technical Engineer for 14 Years with British Gas. Now Self Employed since April 2021 and serving the South Wales Valleys.</p>
<p>Qualified in Domestic Natural Gas and LPG, I have gained my Solar 
Thermal and Solid fuel and Biomass (HETAS) qualifications this August 
2021.</p>
</div> </div>
<div class="row">
</div>
</div>
</section>
<section id="services" class="section-services section-padding section-meta onepage-section"> <div class="container">
<div class="section-title-area">
<h2 class="section-title">Our Services</h2> <div class="section-desc"><p>Check our&nbsp;<a href="{{ '/terms-and-conditions/' | absolute_url }}" target="_blank" rel="noopener noreferrer">Terms and conditions</a> for further information.</p>
</div> </div>
<div class="row">
<div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="service-item ">
<div class="service-image"><i class="fa fa fa-wrench fa-5x"></i></div> <div class="service-content">
<h4 class="service-title">Installation</h4>
<p>Installation and repairs for Boilers, fires, cookers, warm air units, range cookers.</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="service-item ">
<div class="service-image"><i class="fa fab fa-google-wallet fa-5x"></i></div> <div class="service-content">
<h4 class="service-title">Power Flushing</h4>
<p>Power-flushing, Magnetic Filter installations and system upgrades.</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-6 clearleft wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="service-item ">
<div class="service-image"><i class="fa fa fa-home fa-5x"></i></div> <div class="service-content">
<h4 class="service-title">Landlord Inspections</h4>
<p>Landlords/Home owner inspections and safety certificates also know as CP12s.</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<div class="service-item ">
<div class="service-image"><i class="fa fa fa-hospital fa-5x"></i></div> <div class="service-content">
<h4 class="service-title">Emergency Repair Work</h4>
<p>Emergency repair work to central heating boilers, systems and pipework.</p>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="section-parallax jarallax" style="z-index: 0;"> <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0" class="jarallax-container"><div class="parallax-bg jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1920px; height: 468.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; margin-top: 234.25px; transform: translate3d(0px, 972.575px, 0px);"><img src="" alt=""></div></div></div> <section id="contact" class="section-contact section-padding  section-meta onepage-section">
<div class="container">
<div class="section-title-area">
<h5 class="section-subtitle">Would like to know more</h5> <h2 class="section-title">Get in touch</h2> </div>
<div class="row">
<div class="col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
<br><br>
<div class="address-box">
<h3>FM Heating Specialist</h3>
<div class="address-contact">
<span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x fa-inverse"></i></span>
<div class="address-content">Ystrad Mynach, Caerphilly</div>
</div>
<div class="address-contact">
<span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-phone fa-stack-1x fa-inverse"></i></span>
<div class="address-content"><a href="tel:07917 198605">07917 198605</a></div>
</div>
<div class="address-contact">
<span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i></span>
<div class="address-content"><a href="mailto:ashley@fmheatingspecialist.co.uk">ashley@fmheatingspecialist.co.uk</a></div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
</div>
{% include footer.html %}