---
---
<!DOCTYPE html>
<html>
{% include header.html %}
</div> <div class="page-header">
<div class="container">
<h1 class="entry-title">Terms and conditions</h1> </div>
</div>
<div id="content" class="site-content">
<div class="breadcrumbs">
<div class="container">
<span><span><a href="https://fmheatingspecialist.co.uk/">Home</a></span> » <span class="breadcrumb_last" aria-current="page">Terms and conditions</span></span> </div>
</div>
<div id="content-inside" class="container no-sidebar">
<div id="primary" class="content-area">
<main id="main" class="site-main" role="main">
<article id="post-1514" class="post-1514 page type-page status-publish hentry">
<header class="entry-header">
</header>
<div class="entry-content">
<p>Terms and conditions.</p>
<p>1. Price</p>
<p>We will carry out the work set out on your quote for the price that 
is stated under the following terms and conditions. All prices include 
VAT at the current rate. Responding to the quote email via email, text 
or messenger applications is deemed as your acceptance to the Quote and 
the Terms and Conditions within.</p>
<p>2. Your Quote</p>
<p>Your quote, together with these terms and conditions, sets out the 
entire agreement between you and us. Nobody else will be able to benefit
 from this agreement. This agreement is governed by the laws of England 
and Wales.</p>
<p>3. Deposit</p>
<p>You must pay a deposit of 50% of the total quote as a booking and 
materials fee, the remaining balance will be due immediately upon 
completion of the works set out.</p>
<p>4. Balance</p>
<p>Full balance to be paid on the same day work is completed, we accept 
payment by: bank transfers, cash and cheques payable to FM Heating 
Specialist</p>
<p>Whilst we make every effort to ensure your property is protected, 
there are times when accidents occur, should repair work be necessary 
following any damage to your property, you may withhold a maximum of 10%
 of the remaining balance until completion of any repair work. Once any 
repair work is completed, the remaining balance shall be paid in full.</p>
<p>5. Late Payment</p>
<p>If you do not settle your outstanding balance immediately following 
the installation, you may incur late payment charges and you credit file
 could be affected. FM Heating Specialist reserves the right to charge a
 late payment interest fee of 10% per day, of late payment not being 
received.</p>
<p>6. Duration of Quotation</p>
<p>Your quote is valid for 30 days and we must begin the work within 60 
days of your acceptance. After this time your quote will no longer be 
valid and you will need to get another quote.</p>
<p>7. Guarantees and Warranties</p>
<p>The boiler itself will be registered by us, and guaranteed by the 
manufacturer. The manufacturer’s guarantee will depend upon the 
manufacturer and model of the boiler. The validity of the manufacturer’s
 guarantee will be subject to the boiler being serviced every 12 months 
by a Gas Safe Registered engineer.</p>
<p>8. Dangerous Materials</p>
<p>The price we quote does not include the cost of removing any 
dangerous waste materials, such as asbestos, that we could not 
reasonably identify when we gave you your quote. You can call a 
specialist contractor to remove these dangerous materials or we may be 
able to arrange for them to be removed at an extra cost. When asbestos 
is removed you will need to produce a ‘clean air’ certificate, which you
 can get from the asbestos removal company, before we can continue to 
work at your property.</p>
<p>9. Non Dangerous Materials</p>
<p>The price we quote includes removing all non-dangerous materials, 
including your old boiler and central heating parts we replace.</p>
<p>10. Time Frames</p>
<p>Any time frames we give you are our best estimates and we will do 
what we can to keep to those time frames. Where there are likely to be 
delays we will let you know as soon as possible and agree new time 
frames with you. The time it takes us to complete the work has no effect
 on the price we quoted you. If your installation is delayed, 
rescheduled or overruns, FM Heating Specialist will not be held liable 
for any potential loss of earnings, annual leave or time away from work.</p>
<p>11. Lifting Flooring</p>
<p>We may need you to lift carpets or take up all or some other floor 
coverings, including tongue-and-grooved floor coverings and parquet 
hardwood, rubber or tiled floors, so we can complete the work. We will 
give you as much notice as possible if we need you to do this. You can 
call a specialist contractor to do this work or we may be able to do it 
for you at an extra cost. If we do any of this work for you we will not 
be responsible for any damage caused and it will be your responsibility 
to put the flooring back once the work is completed.</p>
<p>12. Damage / Redecoration</p>
<p>We will take care to carry out the work without causing damage to 
your property. If we cause unnecessary damage because of negligence we 
will put it right. Sometimes the work means we have to create access if 
there is not enough room for pipework or wiring in place to install the 
boiler, this can cause damage to things like inside and outside 
finishing’s such as wall coverings and paint. You may need to 
redecorate, repair or restore certain areas once the work is completed 
this is not included in the price we quoted and you will be responsible 
for this.</p>
<p>13. Boxing in of Pipework</p>
<p>The quotation does not include boxing in of any pipework. You can 
call a specialist contractor to do this work or we may be able to do it 
for you at an extra cost</p>
<p>14. Landlords Permission (If Required)</p>
<p>If you are a tenant, you will need your landlord’s permission before 
you can allow us to start the work, and we may need you to give us 
evidence that you have got this permission. If we carry out work at the 
landlord’s property and you have not got permission or have given us 
false or inaccurate information, you will compensate us for any losses 
we suffer because of your failure to get your landlord’s permission.</p>
<p>15. Listed Buildings</p>
<p>If your property is a listed building, it is your responsibility to 
make sure that you get any permission you need before we start the work,
 and we will need evidence from you that you have got this permission. 
If you do not get the permission you need, you may be prosecuted in the 
criminal courts. We will not be able to start any work if you have not 
got the appropriate planning permission or if you are unable to give us 
evidence that you have this permission. If we carry out work at your 
property and you have given us false or inaccurate information, you will
 compensate us for any losses we suffer because of your failure to get 
the permission you needed, which may include court fines and penalties</p>
<p>16. Gas &amp; Electricity Supply</p>
<p>You will need to have an adequate gas and electricity supply to your 
property before we can start the work. We can put you in touch with a 
gas or electricity distribution company to arrange this if you need us 
to.</p>
<p>17. Cold Water Flow Rate</p>
<p>We would have tested your cold water flow rate, this will be recorded on you quotation as “flow rate”, measured in litres.</p>
<p>18. Existing System</p>
<p>Where we have connected new equipment to your existing system, we 
cannot accept responsibility for the cost of repairing or replacing 
parts of your existing system that later develop faults including any 
water or gas leaks. This included concealed pipework, pipework writhing 
walls or concreted floors, radiators,&nbsp; valves and manifolds.</p>
<p>19. Cleaning Your System</p>
<p>We recommend a MagnaCleanse with your installation to remove sludge 
and other waste from your central heating system. If you need a deeper 
clean, we will recommend your system is Power flushed (this will be an 
additional cost). Our engineer will also tell you what other work is 
needed to avoid future problems. We may suggest you correct any design 
faults that may cause the problem to return. Upon cleaning the heating 
system potential leaks may occur, that are not visible or obvious, you 
will be advised on this before hand and FM Heating Specialist will not 
be held responsible for any defects to the existing heating system, 
pipework, radiators or heating controls.</p>
<p>20. Beyond Our Control</p>
<p>We cannot be responsible if we cannot meet our responsibilities 
because of things beyond our control including, for example, poor 
weather conditions, industrial disputes and strikes (that we are not 
directly involved in).</p>
<p>21. Engineers</p>
<p>To carry out the work as quickly as possible, we may use one of our 
approved installers. All installers that we use are fully qualified, Gas
 Safe registered and carry identity cards. We are responsible for the 
approved installers we use.</p>
<p>22. Your Right To Cancel and complaints</p>
<p>You are entitled to cancel this agreement. If you are thinking about 
cancelling, please call 07917198605. If you want to cancel, you must do 
this in writing either by e-mail or send a letter by recorded delivery 
or registered post (or deliver it personally) to FM Heating Specialist, 
42 Heathlands, Ystrad Mynach, Hengoed, CF82 7AZ. Or email&nbsp;<a href="mailto:fmheating@outlook.com" target="_blank" rel="noopener">fmheating@outlook.com</a>.
 at any time within seven days starting from the date you accept the 
quote. Your notice will apply as soon as you have posted or emailed it 
to us. If you cancel this contract after the seven-day period, we may 
have to keep some or all of your deposit to cover our reasonable costs. 
We will try to keep these costs to a minimum. If there is a significant 
delay in the installation after the seven-day period that was not caused
 by you, or was caused by events beyond our control, then you will have a
 right to cancel this contract and receive a full refund (within 14 days
 of the cancellation). If we have seriously broken our duties to you, as
 set out in this contract, you have a right to cancel and receive a full
 refund.</p>
<p>Complaints must be sent in writing or via email, complaints raised 
verbally will be advised to follow the correct route of writing or 
email, this is to avoid any doubt or hearsay. Complaints will be dealt 
with within 28 days of complaint being received.</p>
<p>23. Our Right To Cancel</p>
<p>We can cancel this agreement at any time by giving you written 
notice. If we cancel this agreement without good reason, we will pay you
 any reasonable costs you have to spend or losses you suffer as a direct
 result of our cancellation</p>
</div>
</article>
</main>
</div>
</div>
</div>
{% include footer.html %}
