<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="footer-connect">
	  <div class="container">
		<div class="row">
		  <div class="col-md-8 offset-md-2 col-sm-12 offset-md-0">
			<div class="footer-social">
			  <h5 class="follow-heading">Check us out on other platforms</h5>
			  <div class="footer-social-icons">
				<a target="_blank" href="https://www.facebook.com/FMHeatingspecialist" title="Facebook">
				  <i class="fa fab fa-facebook"></i>
				</a>
				<a target="_blank" href="https://www.gassaferegister.co.uk/BusinessCompetencies?ep=roPE7ihkR4ZAj0gXn1mXyM0C5LgS0WMP5%252bOhH6eXS2OOWrp0gjZmrA8a1nRxCsnqO3WmzWy50mQRjRlpC%252f0VVQ%253d%253d&backurl=%252fCheckBusiness%253fbid%253dWEVlS23b9Ns7WSRA7eUlcQ%2525253d%2525253d&searchurl=%252FCheckBusiness%253Fbid%253DWEVlS23b9Ns7WSRA7eUlcQ%2525253d%2525253d" title="Gas Safe Register">
				  <i class="fa fa fa-fire"></i>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="site-info">
	  <div class="container">
		<div class="btt">
		  <a class="back-to-top" href="#page" title="Back To Top">
			<i class="fa fa-angle-double-up wow flash" data-wow-duration="2s" style="visibility: hidden; animation-duration: 2s; animation-name: none;"></i>
		  </a>
		</div> Copyright © 2024 FM Heating Specialist
	  </div>
	</div>
  </footer>
  <link rel="stylesheet" id="remove-style-meta-css" href="./css/entrymetastyle.css" type="text/css" media="all">
  <link rel="stylesheet" id="fontawesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" id="onepress-gallery-lightgallery-css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.3/css/lightgallery.min.css" type="text/css" media="all">
  <script type="text/javascript" src="./js/isotope.pkgd.min.js" id="onepress-gallery-masonry-js"></script>
  <script type="text/javascript" id="onepress-theme-js-extra">
	/*

			  <![CDATA[ */
	var onepress_js_settings = {
	  "onepress_disable_animation": "",
	  "onepress_disable_sticky_header": "",
	  "onepress_vertical_align_menu": "",
	  "hero_animation": "flipInX",
	  "hero_speed": "5000",
	  "hero_fade": "750",
	  "submenu_width": "0",
	  "hero_duration": "5000",
	  "hero_disable_preload": "",
	  "disabled_google_font": "",
	  "is_home": "",
	  "gallery_enable": "1",
	  "is_rtl": "",
	  "parallax_speed": "0.5"
	};
	/* ]]> */
  </script>
  <script type="text/javascript" src="./js/app.min.js" id="onepress-theme-js" defer="defer"></script>
  <script type="text/javascript" id="jquery.bully-js-extra">
	/*

			  <![CDATA[ */
	var Onepress_Bully = {
	  "enable_label": "1",
	  "disable_mobile": "",
	  "sections": {
		"hero": {
		  "id": "hero",
		  "_id": "hero",
		  "inverse": 1,
		  "enable": true,
		  "title": "Home"
		},
		"features": {
		  "id": "features",
		  "_id": "features",
		  "inverse": false,
		  "enable": true,
		  "title": "Features"
		},
		"about": {
		  "id": "about",
		  "_id": "about",
		  "inverse": false,
		  "enable": true,
		  "title": "About Us"
		},
		"services": {
		  "id": "services",
		  "_id": "services",
		  "inverse": false,
		  "enable": true,
		  "title": "Our Services"
		},
		"videolightbox": {
		  "id": "videolightbox",
		  "_id": "videolightbox",
		  "inverse": 1,
		  "enable": true,
		  "title": "Parallax Effect - <strong>Perfected<\/strong>"
		},
		"gallery": {
		  "id": "gallery",
		  "_id": "gallery",
		  "inverse": false,
		  "enable": true,
		  "title": "Gallery"
		},
		"counter": {
		  "id": "counter",
		  "_id": "counter",
		  "inverse": false,
		  "enable": false,
		  "title": ""
		},
		"team": {
		  "id": "team",
		  "_id": "team",
		  "inverse": false,
		  "enable": true,
		  "title": "Our Team"
		},
		"news": {
		  "id": "news",
		  "_id": "news",
		  "inverse": false,
		  "enable": true,
		  "title": "Latest News"
		},
		"contact": {
		  "id": "contact",
		  "_id": "contact",
		  "inverse": false,
		  "enable": true,
		  "title": "Get in touch"
		}
	  }
	};
	/* ]]> */
  </script>
  <script type="text/javascript" src="./js/jquery.bully.js" id="jquery.bully-js"></script>
  <div class="c-bully c-bully--inversed">
	<div class="c-bully__bullet c-bully__bullet--active c-bully__bullet--squash" style="top: 0px;"></div>
	<div id="bully__hero" class="c-bully__bullet c-bully__bullet--pop c-bully__current">
	  <div class="c-bully__title">Home</div>
	</div>
	<div id="bully__features" class="c-bully__bullet c-bully__bullet--pop">
	  <div class="c-bully__title">Features</div>
	</div>
	<div id="bully__about" class="c-bully__bullet c-bully__bullet--pop">
	  <div class="c-bully__title">About Us</div>
	</div>
	<div id="bully__services" class="c-bully__bullet c-bully__bullet--pop">
	  <div class="c-bully__title">Our Services</div>
	</div>
	<div id="bully__contact" class="c-bully__bullet c-bully__bullet--pop">
	  <div class="c-bully__title">Get in touch</div>
	</div>
  </div>
  </body>
  </html>