<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-connect">
    <div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12 offset-md-0"> <div class="footer-social">
    <h5 class="follow-heading">Check us out on other platforms</h5><div class="footer-social-icons"><a target="_blank" href="https://www.facebook.com/FMHeatingspecialist" title="Facebook"><i class="fa fa fa-facebook"></i></a><a target="_blank" href="https://www.gassaferegister.co.uk/BusinessCompetencies?ep=5T3yICJxSbfKANaXUW4ejW5ARLuLmGN7cFGMnjXFwaO4pDDmC5uw2IhwyDR4uxsmRg2f8TCJ4cFJ6AIcgH8wAraBMQ9gn2bE1E2fCdUw6sQhzKAyQZWpKhyyNpB62bW2bB51l&amp;cp=8dbTCMJeQPJDla2btm2cGo0z3okSrvgEal7O2bBBidEQXKu2KMzsFjsk2fM5W2LtsH6&amp;backurl=2fCheckBusinessResults3fcp3d8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6&amp;searchurl=2FCheckBusinessResults3Fcp3D8dbTCMJeQPJDla25252btm2cGo0z3okSrvgEal7O25252bBBidEQXKu2KMzsFjsk25252fM5W2LtsH6" title="Gas Safe Register"><i class="fa fa fa-fire"></i></a></div> </div>
    </div> </div>
    </div>
    </div>
    <div class="site-info">
    <div class="container">
    <div class="btt">
    <a class="back-to-top" href="#page" title="Back To Top"><i class="fa fa-angle-double-up wow flash" data-wow-duration="2s" style="visibility: hidden; animation-duration: 2s; animation-name: none;"></i></a>
    </div>
        Copyright © 2024 FM Heating Specialist <span class="sep"> – </span></div>
    </div>
    </footer>